.idea
node_modules
*.log
.DS_Store
bundle.js
*.png
*.jpg
*.zip
src/data/export/assets/*.json
src/data/export/colors/*.json
!dist/images/*.png
dist/demo-page.js
temp/generate/*.html
temp/thumbnail/*.png
temp/high-res/*.png
temp/color-images/*.*
!temp/color-images/git.keep

